node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# pnpm
# pnpm-lock.yaml

# shadcn-svelte
# This is unfortunately needed when adding new components, but stops from building
jsconfig.json